body{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 150vh;
}
#top-new{
    left: 50vw;
    bottom: -600px;
    width: 900px;
}
#bot-new{
    top: 57vh;
    left: -100px;
    width: 600px
}
#bot-corner-new{
    top: 175vh;
    left: -100px;
    width: 600px
}
.goes-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1000px;
    height: 200px;
    top: 150px;
    left: -1375px;
}
.text{
    position: relative;
}
.text-box p{
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
}